.StylePageCards {
  font-family: Kufam;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
  border-radius: 1em;
  border: 5em, solid, magenta;
}
