#delete-account {
    display: flex;
    flex-direction: column;
    max-width: 20em;
    background-image: url(https://www.clipartkey.com/mpngs/m/41-419074_transparent-realistic-fire-flames-clipart-real-fire-transparent.png);