.Menu {
  background-color: rgb(85, 102, 114);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-radius: 1em;
}

#menu-links {
  display: flex;
  padding-left: 1em;
}

.kwitter {
  background-color: rgb(85, 102, 114);
}

#menu-links a {
  padding-right: 0.5em;
  color: rgb(0, 0, 0);
  text-decoration: underline;
  cursor: pointer;
}
