* {
  box-sizing: border-box;
}

.Menu {
  position: relative;
  margin: auto;
  top: 6px;
  border: 3px solid black;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  background-color: #b80c12;
  width: 830px;
}

#menu-links {
  text-align: right;
  position: relative;
  margin: auto;
}

#menu-links a {
  padding-right: 0.5em;
  font-size: 20px;
  padding: 5px;
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
