.Menu {
  background-color: #935B22 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-radius: 1em;
  text-shadow: 2px 2px 8px rgb(202, 198, 198);
}

#menu-links {
  display: flex;
  padding-left: 1em;
  text-shadow: 2px 2px 8px black;
}

#menu-links a {
  padding-right: 0.5em;
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}
