.Menu {
  background-color: rgb(69, 106, 218);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
 
}

#menu-links {
  display: flex;
  padding-left: 1em;
}

#menu-links a {
  padding-right: 0.5em;
  color: black;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

#menu-links a:hover{
  color: white;

  
}
