body {
  /* background-image: url("../../components/assets/images/backgrounds/Downside_up.jpg"); */
  height: 200vh;
  width: 100vw;
  color: white;
  font-family: Kufam;
  padding: 15px;
}
.text {
  color: white;
}