/* .Logoff {
  background-image: url("../../components/assets/images/backgrounds/Andromeda_galaxy_stretched.jpg");
  background-repeat: no-repeat;
  background-size: stretch;
  height: 200vh;
  width: 200vw;
  color: white;
  font-family: Kufam;
} */
