* {
  box-sizing: border-box;
}

.RegistrationFormBody {
  text-align: center;
  position: relative;
}

.RegUserBox {
  background-image: url(../../assets/images/Coupon_Background_Dark.png);
  margin: 10px;
  position: relative;
  border: #d2be1a;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  color: black;
  font: italic small-caps bold 30px Impact;
  -webkit-text-stroke: 0.5px #d2be1a;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
}

.RegUserHeader {
  position: relative;
}

.RegUserInput input[type="text"] {
  width: 350px;
  margin: 10px;
  position: relative;
  margin: 10px;
  border: #d2be1a;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  background: none;
  background-image: url(../../assets/images/Clear_Red.png);
  color: black;
  text-align: left;
  font: italic small-caps bold 25px Impact;
  -webkit-text-stroke: 0.5px #d2be1a;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
}

.RegUserInput input[type="text"]:hover {
  border: black;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  color: #d2be1a;
  -webkit-text-stroke: 0.5px black;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
}

.RegPassBox {
  background-image: url(../../assets/images/Coupon_Background_Dark.png);
  margin: 10px;
  position: relative;
  border: #d2be1a;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  color: black;
  font: italic small-caps bold 30px Impact;
  -webkit-text-stroke: 0.5px #d2be1a;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
}

.RegPassHeader {
  position: relative;
}

.RegPassBox input[type="password"] {
  width: 350px;
  margin: 10px;
  position: relative;
  margin: 10px;
  border: #d2be1a;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  background: none;
  background-image: url(../../assets/images/Clear_Red.png);
  color: black;
  text-align: left;
  font: italic small-caps bold 25px Impact;
  -webkit-text-stroke: 0.5px #d2be1a;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
}

.RegPassBox input[type="password"]:hover {
  width: 350px;
  margin: 10px;
  position: relative;
  margin: 10px;
  border: black;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  background: none;
  background-image: url(../../assets/images/Clear_Red.png);
  text-align: left;
  font: italic small-caps bold 25px Impact;
  color: #d2be1a;
  -webkit-text-stroke: 0.5px black;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
}

.RegDisplayBox {
  background-image: url(../../assets/images/Coupon_Background_Dark.png);
  margin: 10px;
  position: relative;
  border: #d2be1a;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  color: black;
  font: italic small-caps bold 30px Impact;
  -webkit-text-stroke: 0.5px #d2be1a;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
}

.RegDisplayHeader {
  position: relative;
}

.RegDisplayBox input[type="text"] {
  width: 350px;
  margin: 10px;
  position: relative;
  margin: 10px;
  border: #d2be1a;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  background: none;
  background-image: url(../../assets/images/Clear_Red.png);
  color: black;
  text-align: left;
  font: italic small-caps bold 25px Impact;
  -webkit-text-stroke: 0.5px #d2be1a;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
}

.RegDisplayBox input[type="text"]:hover {
  border: black;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  color: #d2be1a;
  -webkit-text-stroke: 0.5px black;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
}

.RegButtonBox {
  margin: 10px;
  position: relative;
}

.RegButtonBox input[type="submit"] {
  padding: 10px;
  left: 15px;
  position: relative;
  background: none;
  background-image: url(../../assets/images/Register_Button.png);
  background-repeat: no-repeat;
  border: none;
  width: 150px;
  height: 60px;
  cursor: pointer;
}

.RegButtonBox input[type="submit"]:hover {
  background-image: url(../../assets/images/Register_Button_Hover.gif);
}
