* {
  box-sizing: border-box;
}

.ProfileBody {
  padding: 15px;
  background-image: url(../../assets/images/Clear_Red.png);
  top: 17px;
  left: -2px;
  width: 828px;
  height: 340px;
  position: relative;
  margin: auto;
  border: 3px solid black;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
}

.ProfileContent {
  color: black;
  left: -3px;
  top: -3px;
  margin: auto;
  width: 800px;
  height: 240px;
  position: relative;
  margin: auto;
}

.ProfilePicBox {
  left: -333px;
  border: 3px solid black;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  width: 131px;
  height: 131px;
  position: relative;
  margin: auto;
}

.FormBody {
  background-image: url(../../assets/images/Clear_Red.png);
  position: relative;
  margin: auto;
}

.MemberInfoBox {
  width: 652px;
  height: 100px;
  left: 70px;
  top: -135px;
  border: 3px solid black;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  background-image: url(../../assets/images/Coupon_Background_Dark.png);
  position: relative;
  margin: auto;
}

.MemberInfoText {
  padding: 5px;
  position: relative;
  margin: auto;
}

.AboutMeBox {
  width: 652px;
  height: 193px;
  top: 10px;
  border: 3px solid black;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  background-image: url(../../assets/images/Coupon_Background_Dark.png);
  position: relative;
  margin: auto;
}

.AboutMeText {
  padding: 5px;
  position: relative;
  margin: auto;
}

.UpdateSwitch {
  padding: 5px;
  width: 131px;
  height: 50px;
  left: -404px;
  top: -40px;
  border: 3px solid black;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  background-image: url(../../assets/images/Coupon_Background_Dark.png);
  position: relative;
  margin: auto;
}

.MemberInfoEdit {
  width: 300px;
  height: 125px;
  left: -324px;
  top: -10px;
  border: 3px solid black;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  background-image: url(../../assets/images/Clear_Red.png);
  position: relative;
  margin: auto;
}

.SaveButton {
  left: -324px;
  top: -10px;
  border: 3px solid black;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  left: 350px;
  top: -25px;
  position: relative;
  margin: auto;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
}
