* {
  box-sizing: border-box;
}

.ProfileBody {
  top: 19px;
  border-radius: 5px;
  width: 850px;
  height: 400px;
  position: relative;
  margin: auto;
}

.ProfileContent {
  left: -13px;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  position: relative;
  margin: auto;
  width: 830px;
  position: relative;
  margin: auto;
}

.SaveButton {
  left: 350px;
  top: -25px;
  position: relative;
  margin: auto;
  /* padding: 10px; */
  /* font-size: 25px; */
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
  /* font: italic small-caps bold 12px/30px Georgia, serif; */
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
}
