* {
  box-sizing: border-box;
}

.LoginFormBody {
  position: relative;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
}

.LogUserBox {
  background-image: url(../../assets/images/Coupon_Background_Dark.png);
  margin: 10px;
  position: relative;
  border: #d2be1a;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  color: black;
  font: italic small-caps bold 30px Impact;
  -webkit-text-stroke: 0.5px #d2be1a;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
}

.LogUserHeader {
  position: relative;
  text-align: center;
}

.LogUserBox input[type="text"] {
  width: 350px;
  margin: 10px;
  position: relative;
  margin: 10px;
  border: #d2be1a;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  background: none;
  background-image: url(../../assets/images/Clear_Red.png);
  color: black;
  text-align: left;
  font: italic small-caps bold 25px Impact;
  -webkit-text-stroke: 0.5px #d2be1a;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
}

.LogUserBox input[type="text"]:hover {
  border: black;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  color: #d2be1a;
  -webkit-text-stroke: 0.5px black;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
}

.LogPassBox {
  background-image: url(../../assets/images/Coupon_Background_Dark.png);
  margin: 10px;
  position: relative;
  border: #d2be1a;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  text-align: center;
  color: black;
  font: italic small-caps bold 30px Impact;
  -webkit-text-stroke: 0.5px #d2be1a;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
}

.LogPassHeader {
  position: relative;
  text-align: center;
}

.LogPassBox input[type="password"] {
  width: 350px;
  margin: 10px;
  position: relative;
  margin: 10px;
  border: #d2be1a;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  background: none;
  background-image: url(../../assets/images/Clear_Red.png);
  text-align: left;
  color: black;
  font: italic small-caps bold 25px Impact;
  -webkit-text-stroke: 0.5px #d2be1a;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
}

.LogPassBox input[type="password"]:hover {
  background-image: url(../../assets/images/Clear_Red_Dark.png);
  border: black;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  color: #d2be1a;
  -webkit-text-stroke: 0.5px black;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
}

.LogEnterButton {
  margin: 10px;
  position: relative;
}

.LogEnterButton input[type="submit"] {
  padding: 10px;
  left: 125px;
  top: 5px;
  position: relative;
  background: none;
  background-image: url(../../assets/images/Enter_Button.png);
  background-repeat: no-repeat;
  border: none;
  width: 150px;
  height: 60px;
  cursor: pointer;
}

.LogEnterButton input[type="submit"]:hover {
  background-image: url(../../assets/images/Enter_Button_Hover.gif);
}
