.Home {
  background-image: url("../../components/assets/images/backgrounds/Vortex_storm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200vh;
  width: 100vw;
  color: white;
  font-family: Kufam;
  padding: 15px;
}

h5 {
  text-align: center;
}

h2.Home {
  text-align: center;
}
