body {
  margin: 0.5em;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3E8637;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.jerry {
  border: 5px dotted rgb(207, 243, 255);
  border-width: 3px;
  border-top-width: 7px;
  column-span: inherit 30px;
  width: 15em;
  margin: 4em;
  padding: 0.75em;
  background-color: #ABBAEA;
}
