#login-form {
  display: flex;
  flex-direction: column;
  max-width: 20em;
  max-height: fit-content;
}

#new-message {
  display: table;
  flex-flow: row wrap;
  align-items: stretch;
  display: -webkit-flex;
  min-width: 20em;
  min-height: 1em;
  max-width: 20em;
  max-height: fit-content;
}

/* This one ^^^ is the form, and the message box is inside it. Also you use a hashtag when it's an ID. */

.NewMessage {
  display: flex;
  flex-direction: column;
}

/* This one ^^^ is the div with everything inside it. Also you use the . when it's a class. In React a className is the same as a class in practice, so not really too different. Also also classes and components get the two-hump CamelCase but it gets regular camelCase when it is any other variable. */