a {
    text-decoration: none;
    color: rgba(0,0,0,0.2);
    transition: all 0.2s linear;
}

a:hover {
    color: rgba(0,0,0,0.5)
}

.active{
    color: rgba(0,0,0,0.5);
    text-decoration: underline;
    text-decoration-color: rgba(0,0,0,0.2);
    text-decoration-thickness: .125em;
    text-underline-offset: 1.3px;
    text-decoration-skip-ink: auto;
}