.wrapper {
  display: flex;
}

.about-us {
  margin-top: 50px;
  background: #94b1af;
  border: 5px solid #204d55;
  padding: 10px;
  color: #e6e6ea;
  font-size: large;
}

.yee {
  margin-top: 50px;
  background: #94b1af;
  border: 5px solid #204d55;

  color: #e6e6ea;
  overflow: hidden;
}
