* {
  box-sizing: border-box;
}

.Home {
  position: relative;
  margin: auto;
}

.JoinUs {
  position: relative;
  margin: auto;
  border: 3px solid black;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  background-image: url(../assets/images/Clear_Red_Dark.png);
  width: 850px;
  height: 55px;
  font: italic small-caps bold 12px/30px Georgia, serif;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
  color: black;
  font-size: 12px;
}

.HomeLink a {
  top: 15px;
  left: 5px;
  position: relative;
  margin: auto;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
  -webkit-text-stroke: 0.25px white;
  color: black;
  font-size: 25px;
  padding: 5px;
  text-decoration: underline;
  cursor: pointer;
}

.HomeLink a:hover {
  color: white;
  -webkit-text-stroke: 0.25px black;
}

.RegisterLink a {
  top: -86px;
  left: 740px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: relative;
  margin: auto;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
  -webkit-text-stroke: 0.25px white;
  color: black;
  font-size: 25px;
  padding: 5px;
  text-decoration: underline;
  cursor: pointer;
}

.RegisterLink a:hover {
  color: white;
  -webkit-text-stroke: 0.25px black;
}

.FormBody {
  top: 5px;
  position: relative;
  margin: auto;
}

.Welcome {
  position: relative;
  margin: auto;
  top: -27px;
  left: 342px;
  font-size: 45px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
  -webkit-text-stroke: 0.25px white;
  color: black;
}

.NotMemberYet {
  top: -50px;
  left: 617px;
  position: relative;
  margin: auto;
  font: italic small-caps bold 17px/35px Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  -webkit-text-stroke: 0.15px white;
}
