* {
  box-sizing: border-box;
}

.MessageFeedPageBody {
  display: flex;
  flex-direction: column;
  background-image: url(../assets/images/Coupon_Background_Dark.png);
  border: #d2be1a;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  width: 850px;
  /* height: 452px; */
  position: relative;
  margin: auto;
  font: italic small-caps 12px/30px Impact;
}

.MessageLoading {
  color: #b80c12;
  font: italic small-caps bolder 60px/65px Impact;
  -webkit-text-stroke: 1px black;
  color: #d2be1a;
  text-align: center;
  position: relative;
  top: 75px;
  left: 20px;
}

.MessageMenuBox {
  position: relative;
  margin: auto;
  padding: 10px;
}

.MessageHeaderBox {
  padding: 10px;
  position: relative;
  margin: auto;
  border: black;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  width: 825px;
  height: 55px;
  background-image: url(../assets/images/Clear_Red.png);
}

.MessageFeedHeaderText {
  font: italic small-caps bolder 45px/50px Impact;
  -webkit-text-stroke: 0.75px #d2be1a;
  color: black;
  text-align: center;
  top: -11px;
  position: relative;
}

.FeedBody {
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: row;
  /* position: relative; */
  margin: auto;
  width: 825px;
  border: 3px solid#00ff00;
}

.PostFeedBody {
  display: flex;
  align-self: flex-start;
  /* flex-direction: column; */
  /* left: -40px; */
  /* position: relative; */
  /* margin: auto; */
  font: italic small-caps bold 27px/45px Impact;
  -webkit-text-stroke: 0.25px white;
}

.MiniProfileBox-PostButtonBox {
  /* left: 73px; */
  /* margin: auto; */
  /* position: fixed; */
  /* position: relative; */
  /* z-index: 1; */
}

.MiniProfileBox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 10px;
}

.PostButtonBox {
  position: relative;
}

.PostButton {
  width: 125px;
  height: 55px;
  /* left: 35px; */
  /* top: -425px; */
  background: none;
  border: none;
  background-image: url(../assets/images/Post_Button.png);
  position: relative;
  cursor: pointer;
  /* z-index: 2; */
}

.PostButton:hover {
  background: none;
  border: none;
  background-image: url(../assets/images/Post_Button_Hover.gif);
}
