* {
  box-sizing: border-box;
}

.NotFoundBody {
  /* background-image: url(../assets/images/Clear_Red.png);
  border: 3px solid black;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed; */
  position: relative;
  margin: auto;
  width: 850px;
  height: 250px;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font: italic small-caps bold 12px/30px Georgia, serif;
}

.NotFound {
  top: 50px;
  position: relative;
  margin: auto;
  font-size: 55px;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
  color: black;
}

.Link a {
  top: 75px;
  text-decoration: none;
  position: relative;
  margin: auto;
  font-size: 55px;
  color: #b80c12;
  text-decoration: underline;
  cursor: pointer;
}
