.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.Profile,
.ProfileOptions,
.RegistrationPage,
.Home,
.SearchPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProfileBody {
  display: flex;
}

.Users-List {
  overflow-y: scroll;
  height: 550px;
}

.SettingsBody {
  display: flex;
}
