.Profile {
  text-align: center;
  
}

.DeleteUser {
  position: relative;
  margin: 0px auto;
  float: left;
  top: 490px;
  left:24px;
}

h2 {
  text-align: center;
  position: relative;
  margin: auto;
  

}
