* {
  box-sizing: border-box;
}

.Body {
  position: relative;
  margin: auto;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
}

.ProfileHeader {
  top: 6px;
  left: -2px;
  position: relative;
  margin: auto;
  border: 3px solid black;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  width: 830px;
  height: 55px;
  background-image: url(../assets/images/Clear_Red.png);
  font-size: 45px;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
  -webkit-text-stroke: 0.25px white;
  color: black;
  text-align: center;
}

.ProfileHeaderText {
  top: -10px;
  position: relative;
  margin: auto;
}
