* {
  box-sizing: border-box;
}

.Body {
  /* width: 850px; */
  position: relative;
  margin: auto;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
}

.ProfileHeader {
  top: 12px;
  left: -2px;
  position: relative;
  margin: auto;
  border: 3px solid black;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  width: 830px;
  /* background-color: #b80c12; */
  background-image: url(../assets/images/Clear_Red.png);
  font-size: 45px;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
  color: black;
  text-align: center;
}
