.LoginForm {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;

}

body {
    background-color: lightcoral;
}

#signUp {
    display: flex;
    position: right;
}