.homepagestuff {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.Home {
    height: 100%;
}

.content {
    background-image: url(../../images/feed.jpeg);
    height: 600px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: bottom;
}