.UserComments {
  font-family: Kufam;
  color: lightgreen !important;
}

.Comments {
  font-family: Kufam;
  color: lightgreen !important;
}

.Comment.Content {
  font-family: Kufam;
  color: lightgreen !important;
}

.Comment.Group {
  font-family: Kufam;
  color: lightgreen !important;
}

#Comment.Text {
  font-family: Kufam;
  color: lightgreen !important;
}

.Comment {
  font-family: Kufam;
  color: lightgreen !important;
}

h3 {
  font-family: Kufam;
  color: lightgreen !important;
}

a {
  font-family: Kufam;
  color: lightgreen !important;
}
