.RegistrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

#Registration-form {
  display: flex;
  flex-direction: column;
}

.RegisterSucess {
  display: flex;
  flex-direction: column;
  align-items: center;
}
