* {
  box-sizing: border-box;
}

.MiniProfileBody {
  position: relative;
}

.Miniprofile {
  width: 200px;
  height: 360px;
  border: #d2be1a;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  position: relative;
  margin: auto;
  background: none;
  background-image: url(../../assets/images/Clear_Red.png);
}

.ProfilePicThumb {
  background-image: url(../../assets/images/Coupon_Background_Dark.png);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 175px;
  height: 175px;
  max-width: 175px;
  max-height: 175px;
  overflow: hidden;
  position: relative;
  margin: 10px;
  border: #d2be1a;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
}

.MiniMemberInfo {
  left: -103px;
  top: 40px;
  width: 225px;
  height: 10px;
  position: relative;
  margin: 10px;
  padding: 10px;
  color: black;
  font: italic small-caps bold 25px Impact;
  -webkit-text-stroke: 0.5px #d2be1a;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
}

.MemberName {
  color: black;
  top: -49px;
  left: 75px;
  text-align: left;
  position: relative;
  margin: auto;
  text-align: center;
}

.MemberSince {
  color: black;
  top: -44px;
  left: 75px;
  text-align: left;
  position: relative;
  margin: auto;
  text-align: center;
}
