* {
  box-sizing: border-box;
}
body {
  background-color: black;
  /* background-image: url("../images/chatbg.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
  height: 100vh;
}
