.messages-bg {
  display: flex;
  background-image: url("../images/chatbg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.MessagesDiv {
  padding: 3em;
}
.MessageBoard {
  background-color: rgba(90, 89, 89, 0.5);
  padding: 3em;
  flex-basis: 450px;
  border-radius: 15px;
}

