.container-NF {
  text-align: center;
  background-image: url("../images/welcome.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 50%;
  height: 100vh;
}

:link {
  text-decoration-line: none;
}
.NotFound {
}
