* {
  box-sizing: border-box;
}

.PostForm {
  position: relative;
  margin: auto;
  top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #b80c12;
  top: -1px;
}
