* {
  box-sizing: border-box;
}

.PostFormBody {
  border: 3px solid black;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  position: relative;
  margin: auto;
  left: -290px;
  top: 11px;
  width: 830px;
  height: 384px;
  text-align: center;
  font-size: 25px;
  color: white;
  font-size: 20px;
}

.PhotoUpload {
  background-image: url(../../assets/images/Coupon_Background_Dark.png);
  border: 3px solid black;
  border-width: 3px;
  border-style: dashed;
  border-radius: 5px;
  padding: 10px;
  font: italic small-caps bold 30px/30px Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  text-shadow: -1px -1px 1px rgb(151, 148, 148), 1px 1px 1px #000;
  -webkit-text-stroke: 0.5px black;
}

.PostBox {
  border: 3px solid black;
  border-width: 3px;
  border-style: dashed;
  border-radius: 5px;
  position: relative;
  margin: auto;
  font: italic small-caps bold 22px/40px Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  -webkit-text-stroke: 0.25px black;
}

input[type="submit"] {
  width: 160px;
  height: 50;
  position: relative;
  background-image: url(../../assets/images/Coupon_Background_Dark.png);
  padding: 5px;
  border: 3px solid black;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  color: black;
  font: italic small-caps bold 27px/45px Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  -webkit-text-stroke: 0.25px white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-image: url(../../assets/images/Clear_Red_Dark.png);
  border: 3px solid white;
  border-radius: 5px;
  border-width: 3px;
  border-style: dashed;
  color: white;
  -webkit-text-stroke: 0.25px black;
}
