.background {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.height {
    height: 100%;
}

.hero {
    height: 100%;
    background-image: url(../../images/heros.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}