.UserComments {
  color: lightgreen !important;
}

.VisitHeader {
  font-family: Kufam;
  padding: 5px;
}

.Visit {
  background-image: url("../../components/assets/images/backgrounds/Milky_Way.jpg");
  height: 150vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: Kufam;
}

.Comments {
  font-family: Kufam;
  color: lightgreen !important;
}
