.Home, .RegistrationForm, .Profile, .LoginForm {
  background-color:
  #141414;
}

label {
  color: white;
}
h2 {
  color: white
}
p {
  color: black;
}
.login-form-button {
background-color: slateblue;
}
.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 50%;
}