body {
  position: relative;
  margin: auto;
  background-image: url(../src/assets/images/Coupon_Background.png);
  margin: 0.5em;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font: italic small-caps bold 12px/30px Georgia, serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#HeaderLogo {
  background-image: url(./assets/images/Header_Logo2.png);
  position: relative;
  margin: auto;
  width: 850px;
  height: 175px;
}
