h1 {
     color:yellow;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     background-color: rgb(6, 49, 241);
    
} 
p {
    color:rgba(0, 0, 0, 0.932);
    font-style: oblique;
    font-size: larger;
    font-language-override: initial;
    background-color: hsl(300, 100%, 88%);
}
li{
    font-size: 12pt;

}