.Message{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    border-bottom: seagreen;
    flex-wrap: wrap-reverse;
    border:  1px solid black;
    border-left: none;
    border-top: none;
    border-right: none;
    background-color: rgb(223, 174, 119);
    margin-bottom: 30px;
    border-radius: 60px;
    padding-left: 20px;
    padding-bottom: 5px;
    
}
