.NotFound {
  background-image: url("../../components/assets/images/backgrounds/Moon_horizon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: white;
  font-family: Kufam;
}

#Link {
  color: white;
  font-family: Kufam;
}
